channels==1.1.6
Django==1.11.1
setuptools-git==1.2
git+https://github.com/richtier/voice-command-lifecycle.git@0.2.0#egg=command_lifecycle
git+https://github.com/richtier/alexa-voice-service-client.git@0.1.0#egg=avs_client
